.logo-part {
    margin-top: 5px;
    padding-bottom: 5px;
}

.logo-part .logo {
    font-size: 30px;
    color: #2EABE2;
    font-family: 'Oxygen', sans-serif;
}

.logo-part.login-reg {
    float: right;
}

.logo-part .login-reg a {
    font-size: 20px;
    margin: 0 15px;
}

.logo-part .login-reg .login {}

.logo-part .login-reg .reg {
    background-color: #FE0030;
    padding: 8px;
    border-radius: 5px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



/* nav starts */

.header-nav {
    border: 1px solid black;
    background-color: #F68600;
    padding: 10px 10px;
    height: 50px;
}

.header-nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

.header-nav ul li a {
    color: aliceblue;
}