<html>
	<head>
		<title>Contact us</title>
	</head>
	<body>
		
			<h1>Contact Us</h1>
				<form>
					<table border = 1>
						<tr>
							<td>Your Name:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Your Email:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>About:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Message:</td>
							<td>
							<textarea></textarea>
							</td>
						</tr>
						
						<tr>
							<td colspan="2" align="right">
							<input type="submit" value="Send Message">
							</td>
						</tr>
					</table>
				</form>
		
	</body>
	
</html>