.grid-cont {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 100px 50px 900px 400px;

        }

        .grid-item {
            /* border: 2px solid darkblue; */


        }

        .navigation {
            grid-column: 1 / 5;
            background-color: #4484CC;
        }

        .navigation a {
            padding: 30px;
            color: whitesmoke;
			 height: 35px;
        }

        .search-bar {
            grid-column: 1 / 5;
            background-color: #F29F4E;
        }

        .search-bar input {
            width: 95%;
            height: 35px;
            margin-top: 5px;
            font-size: 18px;
            padding: 5px;
        }

        .search-bar button {
            padding: 5px;
        }

        
        .log-out {
            text-align: right;
            margin-bottom: 20px;

        }
		

        .log-out button{
		  text-align: right;
            padding: 5px;
            font-size: 30px;
        }
		
		
		/* Create two equal columns that floats next to each other */
          .column {
            float: left;
            width: 295%;
            padding: 5px;
            }

        .column img {
           margin-top: 10px;
           }

        /* Clear floats after the columns */
           .row:after {
             content: "";
            display: table;
             clear: both;
           }
		   
		  * {
             box-sizing: border-box;
            }

            body {
              font-family: Arial;
              font-size: 17px;
            }

         .container {
             position:absolute;
             max-width: 1000px;
             margin-right: 20px;
			 margin-left: 250px;
			 margin-top: 50px;
           }

         .container img {vertical-align: middle;}

         .container .content {
             position: absolute;
             top: 0;
             background: rgb(0, 0, 0); /* Fallback color */
             background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
             color: #f1f1f1;
             width: 100%;
             padding: 20px;
           }
		   
		   